<html>

	<head>
		
	</head>
	<body>
		<div>
			<textarea id="source"></textarea>
			<button onClick="runDecode();">Decode</button>
		</div>
		<div>
			<textarea id="key"></textarea>
		</div>
		<div>
			<textarea id="result"></textarea>
		</div>
	</body>
	<script src="/javascripts/TP2/decryptVigenere.js" ></script>
	<script src="/javascripts/TP2/vigeneresysteme.js" ></script>
	<script>
		var attackVigenere = new AttackVigenere();
		var vigenereSys = new VigenereSysteme();
		
		var runDecode = function(){
			var crypted = document.getElementById('source').value;
			attackVigenere.attack(crypted);
			vigenereSys.key = attackVigenere.key;
			document.getElementById('result').value = vigenereSys.decode(crypted);
			document.getElementById('key').value = attackVigenere.key;
		}
	</script>
</html>