<html>

	<head>
		<style type="text/css">
			textarea {
				height: 100px;
				width: 300px;
			}
		</style>
	</head>
	<body>
		Texte a decripter
		<div>
			<textarea id="source" width="200" height="400"></textarea>
			<button onClick="runDecode();" >Decode</button>
		</div>
		Clé
		<div>
			<textarea id="key" style="height:35px"></textarea>
		</div>
		</br>
		Texte decripté
		<div>
			<textarea id="result"></textarea>
		</div>
	</body>
	<script src="/javascripts/TP2/decryptVigenere.js" ></script>
	<script src="/javascripts/TP2/vigeneresysteme.js" ></script>
	<script>
		var attackVigenere = new AttackVigenere();
		var vigenereSys = new VigenereSysteme();
		
		var runDecode = function(){
			var crypted = document.getElementById('source').value;
			attackVigenere.attack(crypted);
			vigenereSys.key = attackVigenere.key;
			document.getElementById('result').value = vigenereSys.decode(crypted);
			document.getElementById('key').value = attackVigenere.key;
		}
	</script>
</html>