<html>
	<header>
		<meta charset="utf-8">
	</header>
	<body>
		<div>
			<h5>Texte a attaquer</h5>
			<textarea id="attack"></textarea>
			<button onClick="runAttack();" >Attaquer</button>
		</div>
		<div>
			<h5>Resultat de l'attaque</h5>
			<textarea id="resAttack"></textarea>
		</div>
		<div>
			<h5>Cle regenere</h5>
			<textarea id="resKey"></textarea>
		</div>
	</body>
	<script src="/javascripts/cryptosysteme.js" ></script>
	<script src="/javascripts/attacksysteme.js" ></script>
	<script>
		var attackSys = new AttackSysteme();

		var runAttack = function(){
			var content = document.getElementById('attack').value;
			var res = attackSys.attack(content);
			document.getElementById('resAttack').value = res;
			document.getElementById('resKey').value = attackSys.key;
		};
	</script>
</html>